<div class="game-panel">
  <div class="controls">
    <button (click)="generateRandomNumbers()" class="control-btn">
      <i class="fas fa-random"></i> RND
    </button>
    <button (click)="clearSelection()" class="control-btn">
      <i class="fas fa-trash"></i> Del
    </button>
  </div>
  <div class="grid">
    <div
      class="cell"
      *ngFor="let num of numbers; let i = index"
      [class.active]="selectedNumbers.includes(i)"
      (click)="toggleNumber(i)">
      {{ num }}
    </div>
  </div>
</div>